/*
 * General
 */
body {
    font-size: 100%;
    font-family: "Bell MT", "Georgia", serif;
}
.input-area,
.submit-btn {
    font-size: 1rem;
    font-family: inherit;
}

/*
 * Page Header
 */
.nav-bar-list {
    text-align: center;
}
.nav-bar-list-item a {
    text-decoration: none;
    font-size: 1.3rem;
}
.search-bar {
    text-align: right;
}
.side-bar-item-description {
    text-align: center;
}
/*
 * Page Content
 */
.page-content h1 {
    font-size: 1.3rem;
}
.page-content h2 {
    font-size: 1.2rem;
}
.page-content h3 {
     font-size: 1.1rem;
}
.wrapped-figure {
    text-align: center;
}
.paragraph-intro,
.current-page,
.works-list-term {
    font-weight: bold;
}
@media screen and (min-width: 30rem) {
    .nav-bar-list {
        font-size: 0;
    }
}
@media screen and (max-width: 36rem) {
    .wrapped-figure-container {
        text-align: center;
    }
}
/*
 * Page Footer
 */
.page-footer {
    font-size: 1.1rem;
}

