body {
    font-size: 62.5%;
    font-family: "Bell MT", "Georgia", serif;
}

/*
 * Page Header
 */
.nav-bar-list {
    text-align: center;
}
.nav-bar-list-item a {
    text-decoration: none;
    font-size: 1.1rem;
}

/*
 * Page Content
 */
.page-content h1 {
    font-size: 1.08rem;
}
.page-content h2 {
    font-size: 1.07rem;
}
.page-content h3 {
     font-size: 1.06rem;
}
.wrapped-figure {
    text-align: center;
}
.paragraph-intro,
.current-page,
.works-list-term
{
    font-weight: bold;
}
@media screen and (min-width: 38rem) {
    .nav-bar-list {
        font-size: 0;
    }
}

/*
 * Page Footer
 */
.page-footer {
    font-size: 0.8rem;
}

