/*************************************************************************************************
 * Grid Gallery
 *************************************************************************************************/
.grid-gallery-transition {
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}
.grid-gallery {
    list-style-type: none;
    text-align: center;
}
.grid-gallery-item {
    display: inline-block;
    text-align: center;
}
.grid-gallery-item:last-child {
    margin-bottom: 0.7rem;
}
.grid-gallery-figure {
    cursor: help;
    position: relative;
    font-size: 0;
    margin: 0.4rem 0.5rem;  /* top-bottom right-left */
}
.grid-gallery-figure-content {
    width: 13rem;
    max-width: 220px;
    border: 0.07rem solid rgba(0,0,0,0.2);
}
.grid-gallery-figure-content:hover {
    border: 0.07rem solid rgba(0,0,0,0.6);
}
.grid-gallery-figure-title {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    font-size: 0.8rem;
    color: #ffffff;
    bottom: 0;
    left: 0;
}
.grid-gallery-figure-title-skin {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.grid-gallery-figure-title-skin:hover {
    opacity: 1;
}
.gallery-footer {
    padding-top: 0.5rem;
    width: 100%;
    display: block;
    border-top: 0.1rem solid #808080;
}

